{% load static %}
<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Our Partners</h2>
      </header>
      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          {% for x in partner_logo %}
          <div class="swiper-slide">
            <img src="{{x.logo.url}}" class="img-fluid" alt="">
        </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </section><!-- End Clients Section -->