{% load static%}
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>What we Offer</h2>
      </div>

      <div class="row gy-5">
        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'assets/fastlane-assets/fastlane-app-hero.png' %}" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <img src="{% static 'assets/fastlane-assets/icons-circles/partner-red.png' %}" width="90px" alt="">
              </div>
              <a href="#" class="stretched-link">
                <h3>Be Fastlane Partner</h3>
              </a>
              <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'assets/fastlane-assets/fastlane-app-hero.png ' %}" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <img src="{% static 'assets/fastlane-assets/icons-circles/tindera-red.png ' %}" width="90px" alt="">
              </div>
              <a href="#" class="stretched-link">
                <h3>Be Fastlane Tindera</h3>
              </a>
              <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'assets/fastlane-assets/fastlane-app-hero.png ' %}" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <img src="{% static 'assets/fastlane-assets/icons-circles/work-red.png' %}" width="90px" alt="">
              </div>
              <a href="#" class="stretched-link">
                <h3>Work With Us</h3>
              </a>
              <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
            </div>
          </div>
        </div><!-- End Service Item -->
      </div>
      
    </div>
</section>